{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col align-self-start ">
                <h1 class="display-6 logo-font text-black text-center">
                    WE LOVE SIMPLICITY
                </h1>
            </div>
            <div class="col align-self-center">
                <h1 class="display-6 logo-font text-black text-center">
                    WE TRUST IN COMFORT
                </h1>
            </div>
            <div class="col align-self-end ">
                <h1 class="display-6 logo-font text-black text-center">
                    WE LIKE NATURAL THINGS
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid  bg-dark ">
        <div class="row h-100">
            <div class="col">
            </div>
            <div class="col-6 py-6">
            <h2 class="display-6 logo-font text-white text-center" >WE ARE FROM ITALY.</h2>
            
            <h2 class="display-6 logo-font text-white text-center">WE DESIGN AND PRODUCE A KNITWEAR COLLECTION THAT HAVE LONGLASTING AND USEFUL GARMENTS TO JOIN OUR AND YOURS
                HAPPINESS TO
                WEAR THEM.</h2>
            
            <h2 class="display-6 logo-font text-white text-center">MAINTAINING AND USING A SIMPLE GARMENT OVER TIME ALSO HELPS TO KEEP THE ENVOIRONMENT AROUND US CLEANER BY CREATING
                LESS
                WASTE TO DISPOSE OF.</h2>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
